.contract-details{
    .contract-detail-conten{
        .contract-name{
            font-size: 1.5rem;
            font-weight: 600;
            color: #000;
            margin-top: 1rem;
        }
        >div{
            
            .categoryName {
                display: inline-flex;
                margin-top: 0.25rem;
                font-size: 1rem;
                line-height: 1.5rem;
                color: rgb(100 116 139 / 1);
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
                box-shadow: #000;
            }
            
        }
    }

    

}